/* Hoja de estilos */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif, system-ui;
}

html{
  width: 100%;
}

/* Style the body */
body {
  margin: auto;
}

/* Header/logo Title */
.header {
  padding: 5vw;
  text-align: center;
  background: #121d24;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 35px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #121d24;
  color: white;
  display: flex;
  justify-content: center;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1vw;
  text-decoration: wavy;
  font-size: 19px;
  align-self: center;
}

/* Right-aligned link */

#botonesCTA {
  display: flex;
}

#botonesCTA a {
  margin-right: 10px;
}

#botonesCTA .right {
  margin-right: 0;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

/* Create two unequal columns that sit next to each other */
/* Sidebar/left column */
.side {
  max-width: 100%;

  background-color: #f4f4f4;
  padding: 3vw;
  font-size: auto;
}

/* Main column */
.main {
  flex: auto;
  background-color: white;
  padding: 3vw;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.img-container img {
  width: 25%;
  height: auto;

}

p{
  font-size: 25px;
  overflow: hidden;
}
  #p_intro{
      align-self: center;
      font-size:27px;
    }
  .p_container{
    position: relative;
    max-width: 90%;
    font-size: 19px;
    }

    #aboutText{
      font-size: 19px;
    }
    #anio{
      font-size:10px;
    }

/* Footer */
.footer {
  padding: 2vw;
  text-align: center;
  background: #ddd;
  font-size:medium; /* Adjust the font size for better visibility */
}

















/* EXPERIMENTAL */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  width: 50%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}